@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    outline: none;
    border : none;
    box-sizing: border-box ;
}
img{
    width: 100%;
    display:flex;

}

a{
    text-decoration: none;

}
body{
    font-family: 'Poppins',sans-serif;
    background-color: rgb(250, 249, 245);
}
nav{
    max-width: 1200px;
    margin: auto;
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
}

.nav-logo{
    max-width: 100px;

}
.nav-links{
    font-size: 17px;
    font-weight: 400;
    list-style: none;
    display: flex;
    align-items: center;
    gap:2rem;

}
.link a{
    font-weight: 500;
    position: relative;
    padding-bottom: 0.75rem;
    color:#000000
}

.link a::after{
    content:"";
    position:absolute;
    height:3.5px;
    width:0;
    bottom:0;
    left:0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;

}
.link a:hover::after{
    width: 85%;

}
.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color:#fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor:pointer;
    transition:all 0.3s ease;
}

.btn:hover{
    background-color: #1e40af;
}
.Jay{
    margin: auto;
    align-items: center;
   padding-bottom: 0.5rem;

    max-width: 1550px;
}
.container{
    max-width:1200px;
    margin: auto;
    padding: 2rem 2rem;
    padding-top: 2rem;
    transition: all 0.5s ease-in-out;
}
header:hover{

    padding-top: 7rem;
    
   
}

.blur{
    position:absolute;
    box-shadow: 0 0 5000px 42px #1d4ed8;
    z-index: -100;
    opacity: 50%;

}


header .content{
    position: relative;
    padding-top:2rem;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    
}

.InitalCont h4{
    margin-bottom:1rem;
    color: #1d4ed8;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
    text-align: center;

}
.InitalCont h1{
    color :#1d4ed8;
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4rem;
    padding-left: 8rem;
    display:flex;
    text-align: center;


}
header .InitalCont h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #1d4ed8;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;


}

header .content p{
    margin-bottom:2rem;
    font-size: 1.1rem;
    padding-top: 1.5rem;
    
}

header .image{
    position: relative;
    
}

header .image::before{
    content:"o";
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index:-100;
    
}

header .image{
    max-width: 600px;
    margin: auto;
}
section .header{
    margin-bottom: 1rem;
    color: #000000;
    text-align: center;
    font-size:2.25rem;
    font-weight: 600;
    position: relative;
    padding-bottom: 0.75rem;

}

section .header::after{
    content:"";
    position:absolute;
    height:3.5px;
    width:0;
    bottom:0;
    left:0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
    max-width: 200px;
    align-items: center;
    text-align: center;
    margin-left: 30rem;
    

}
section .header:hover:after{
    width: 15%;
    align-items: center;
    text-align: center;
    
 

}
.features {
    margin-top: 4rem;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    align-items: center;
    
}



section:hover{
    padding-top: 5rem;
    transition: all 0.5s ease;
}
.features .card{
    background-color: #fff;
    padding:1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;

}

.features .card:hover{
    background-color: #fff;
    border-color:#1d4ed8;
}

.features .card span{
    display:inline-block;
    padding :2px 9px;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    color:#fff;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    padding-left: 5.7rem;
    padding-top: 1rem;
}
.features .card .btn{
    align-items: center;
    align-self: center;
    margin-left: 2.1rem;
    background-color: #fff;
    color: #1d4ed8;
    border: 2px solid #1d4ed8;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

.features .card .btn:hover{
    background-color: #1d4ed8;
    color: #fff;
}
.features .card h4{
    margin-bottom: 1rem;
    color:#1d4ed8;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.features .card p{
    color:#000000;
    margin-bottom: 2rem;
    

}    

.features .card a{
    color:#1d4ed8;
    transition: all 0.3s ease;

}
.features .card a:hover{
    color:#1e40af
}
.subheader{
    max-width: 800px;
    margin:auto;
    text-align: center;
    color: #000000;

}
.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;

}

.pricing .card{
    padding:3rem 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;

}

.pricing .card:hover{
    background-color: #fff;
    color: #1d4ed8;
    border: 2px solid #1d4ed8;

}
.pricing .card .content{
    flex:1;
    margin-bottom: 2rem;


}
.pricing .card h4{
    
    margin-bottom: 1rem;
    color: #1d4ed8;
    font-size: 1.2rem;
    font-weight:500;
   

}
.pricing .card .img{
    padding-bottom: 1rem;
}
.pricing .card h3{
    color:#1d4ed8;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom:2px dashed #1d4ed8 ;
}
.pricing .card p{
    padding-top: 1rem;
    color: #000000;
    margin-bottom: 0.75rem;
    align-items: center;
    text-align: left;
    display: grid;

}
.pricing .card p i{
    color: #1d4ed8;
    font-size: 1.2rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
}
.pricing .card button{
    font-weight: 500;
    color: #1d4ed8;
    background-color: #fff;
    border: 2px solid #1d4ed8;
}

.pricing .card button:hover{
    background-color: #1d4ed8;
    color:#fff;
    border-color: #fff;
}
footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3,1fr);
    gap:2rem;

}

footer .column .logo{
    max-width :100px;
    margin-bottom:2rem;

}
footer .column p{
    color:#1d4ed8;
    margin-bottom: 2rem;

}

footer .column .socials{
    display:flex;
    align-items: center;
    gap:1rem;
}

footer .column .socials a{

    color:#1d4ed8;
    border: 1px solid #1d4ed8;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.2s ease;

}

footer .column .socials a:hover{
    color: #fff;
    background-color:#1d4ed8;
    border-color:#1d4ed8;


}
footer .column h4{
    color: #1e40af;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;

}
footer .column > a {
    display: block;
    color: #1d4ed8;
    margin-bottom: 1rem;
    transition: all 0.3s ease;

}
footer .column 
footer .column >a:hover{
    color:#000000;

}
.copyright{
    max-width: 1200px;
    margin:auto;
    padding:1rem;
    color:#1d4ed8;
    font-size: 0.8rem;
    text-align: center;
}

@media(width<900px){
   
    .header{
        grid-template-columns: repeat(1,1fr);
    }
    header .image{
        grid-area:1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2,1fr);
    }
    .pricing{
        grid-template-columns: repeat(2,1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media(width<600px){
    header .image ::before{
        display: none;
    }
    .features{
        grid-template-columns: repeat(1,1fr);
    }
    .pricing{
        grid-template-columns:repeat(1,1fr) ;
    }
    footer{
        grid-template-columns: 1fr 150px ;
    }
}